<head>
	<link rel="stylesheet" type="text/css" href="/css/gameCompleted.css"/>
<div id = "mid">
	<center>
		<div id = "base">
			Winner - <%= winner %><br>
			Loser - <%= looser %>
		</div><br><br>
		<div id = "base-2">
			lets get you <a href = "/" style = "color:yellow">back</a>
		</div>
		<div id = "add"></div>
	</center>
</div>
<script>
$( "#add" ).append('Winner - <a href = "/profile/<%=winner%>"><%= winner %></a><br>');
console.log("<%=winner%>");	
</script>
</head>